/* ROOT */

:root {
    font-size: 100%;

    --bg-color: #FBFAF8;
    --text-color: #4A4A4A;
    --decoration-color: #E1AFAF;
}

/* HEADER */

.Header {
    background-color: var(--bg-color);
    z-index: 2;
}

/* MAIN */

.Main {
    padding: 8rem 5rem 2rem;
}

.Article {
    margin: 0 0 2rem 0;
    line-height: 1.5;
    font-size: 1.2rem;
}

.Article-h2 {
    color: var(--decoration-color);
    margin: 0 0 1rem 0;
    font-family: "Raleway-500";
}

.Article-h3 {
    margin: 1rem 0 1rem;
}

.Article-li {
    margin: .5rem 0 .5rem 2rem;
}