/* HEADER */

.Header {
    background-color: var(--bg-color);
    z-index: 2;
}

/* MAIN */

.Main {
    padding: 5.75rem 0 2rem;
    position: relative;
}

/* ALERT */

.Alert {
    padding: 1.25rem 2.5rem;
    color: var(--bg-color);
    background-color: var(--sucess-color);

    position: fixed;
    right: 5rem;
    top: 4rem;
    z-index: 2;

    opacity: 0;
    transition: opacity .5s ease-in-out;
}

.Alert.isVisible {
    opacity: 1;
}

/* CONTAINER */

.Container{
    width: 100%;
    position: relative;
    z-index: 1;
}

/* TITLES */

.Titles{
    width: 100%;
    background-color: var(--bg-color);

    padding: 0 5rem;
    border-bottom: 1px solid var(--decoration-color);

    gap: 1.5rem;

    position: fixed;
    z-index: 2;
}

.Titles-a{
    padding: 1rem 2rem;
}

.Titles-a:hover{
    cursor: pointer;
    color: var(--decoration-color-light);
}

.Titles-a.isActive{
    color: var(--decoration-color);
}

/* CONTENT */

.Container-content{
    width: 100%;
    /* min-height: 100vh; */

    position: relative;
    overflow: hidden;
}

.Grid{
    width: 100%;
    padding: 5rem;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    
    opacity: 0;
    pointer-events: none;
    transition: opacity .5s ease; 
}

.Grid.isVisible{
    opacity: 1;
    pointer-events: auto;
}

/* Producto */

.Article {
    border-radius: 1rem;
    border: 1px solid var(--decoration-color);
    position: relative;
    overflow: hidden;
}

.Article:hover {
    cursor: pointer;
}

/* Descripción del producto */

.Description {
    width: 100%;
    padding: .625rem 1.25rem;

    border-top: 1px solid var(--decoration-color);
    background-color: var(--bg-color);

    z-index: 1;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .5rem;

    transform: translateY(10rem);

    transition: transform .5s ease-in-out;
}

.Article:hover .Description{
    transform: translateY(0);
}

.Description-h3 {
    grid-column: span 3;
}

.Description-p {
    font-family: 'Raleway-600', sans-serif;
    color: var(--decoration-color);
    text-align: end;
}

.Description-button--buy  {
    grid-column: span 4;
}

/* @MEDIA */

@media (max-width:1024px){

    .Grid{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width:768px){

    .Grid{
        grid-template-columns: repeat(2, 1fr);
    }

    .Description{
        transform: translateY(0);
    }
}

@media (max-width:480px){
    .Grid{
        grid-template-columns: repeat(1, 1fr);
    }
}